
*.lab
dist/example.los
dist/exemple.los
src/coppe.glo
src/coppe.idx
src/coppe.ist
src/coppe.out
src/coppe.aux
*.bak
*.aux
*.blg
*.los
*.bbl
*.gls
*.ilg
*.ind
*.out
*.lot
*.lof
*.syx
*.toc
*.abx
*.hd
*.hd
